/* font-family: 'Bai Jamjuree', sans-serif;
weights : 400, 600 */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


:root {
    /*Colors*/
        /*Primary Colors*/
        --strong-cyan:hsl(171, 66%, 44%);
        --light-blue:hsl(233, 100%, 69%);
        /*Neutral*/
        --dark-grayish-blue:hsl(210, 10%, 33%);
        --grayish-blue:hsl(210, 10%, 33%);
}

/*Default styles / resets*/
body {
    font-size:18px;
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
}

a {
    color:currentColor;
}

a:hover {
    color:currentColor;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 ,h2, h3 {
    color:black;
    color:var(--dark-grayish-blue);
    font-weight:600;
}

h1 {
    font-size:2rem;
}

h2 {
    font-size:1.5rem;
}

h3 {
    font-size:1.25rem;    
}

p {
    color:gray;
    color:var(--grayish-blue);
    font-size:0.9rem;
}


/*header*/
.header__logo {
    width:5rem;
    height:auto;

    margin-top:5rem;
}

.header__h1 {
    margin-top:1.5rem;
}

.header__text  {
    width:55ch;
    margin:0 auto;
}

.header__button-container {
    /* background: darkgrey; */
    margin-top:1.5rem;

    /* width:50%;
    margin:0 auto; */

    display:flex;
    justify-content: center;
    align-items:center;
    
}

.btn {
    border-radius:100px;
    /* padding:0.5rem 1.5rem; */
    margin:0.5rem;
    color:#fff;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    filter:opacity(0.8);
}

.ios-btn {
    background-color:green;
    background-color:var(--strong-cyan);
    box-shadow: 0px 3px 3px hsl(171, 66%, 35%);
}


.mac-btn {
    background-color:blue;
    background-color:var(--light-blue);
    box-shadow: 0px 3px 3px hsl(233, 100%, 30%);
}





/*selling-points*/

.selling-points {
    margin-top:5rem;
}

.selling-points__header p {
    width:60ch;
    margin:0 auto;
}

.selling-points__header {
    margin-bottom:3rem;
}

/* .selling-points__img {
    max-width:30rem;
    height:auto;
} */




/*footer*/
.footer {
    background-color:#eee;
    position: relative;
    /* padding:1rem; */
    
}

.footer__logo {
    max-width:3rem;
}

